<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="footer">
      	<h1>하단영역</h1>
      	<div class="footer-wrap">
      		<section id="footer-menu">
      			<h1>하단메뉴</h1>
      			<div class="space-between view-width">
      				<div class="row-align">
      					<p class="tit">INTAKE</p>
      					<ul class="row-align">
      						<li><a href="#">About INTAKE</a></li>
      						<li><a href="#">Magazine</a></li>
      					</ul>
      				</div>
      				<div class="row-align">
      					<p class="tit">고객센터</p>
      					<ul class="row-align">
      						<li><a href="#">공지사항</a></li>
      						<li><a href="#">FAQ</a></li>
      						<li><a href="#">상품 제안 하기</a></li>
      					</ul>
      				</div>
      				<div class="term">
      					<ul class="row-align">
      						<li><a href="#">제휴/협력 관련 안내</a></li>
      						<li><a href="#">이용약관</a></li>
      						<li><a href="#">개인정보취급방침</a></li>
      					</ul>
      				</div>
      			</div>
      		</section>
      		<section id="company">
      			<h1>회사정보</h1> 
      			<div class="view-width row-align">
      				<div class="info">
      					<div>
      						<img alt="logo이미지" src="/images/logo.png">
      					</div>
      					<div class="detail row-align">
      						<div class="left">
	      						<dl>
	      							<dt>상호명</dt>
	      							<dd>인테이크 주식회사</dd>
								</dl>
								<dl>      							
	      							<dt>소재지</dt>
	      							<dd>서울시 서초구 명달로116 6층</dd>
	      						</dl>
	      						<dl>
	      							<dt>대표자</dt>
	      							<dd>한녹엽</dd>
	 							</dl>
	 							<dl>
	      							<dt>개인정보취급 담당자</dt>
	      							<dd>조영일</dd>
	   							</dl>
	   							<dl>
	      							<dt>고객센터</dt>
	      							<dd>1644-1567/<a href="#">help@intakefoods.kr</a></dd>
	      						</dl>
	      						<dl>
	      							<dt>호스팅 사업자</dt>
	      							<dd>아마존 웹서비스(AWS)</dd>
	      						</dl>
      						</div>
      						<div class="right">
      							<dl>
	      							<dt>사업자등록번호</dt>
	      							<dd>119-86-68123 <a href="#">[사업자 정보 조회]</a></dd>
								</dl>
								<dl>      							
	      							<dt>통신판매업신고</dt>
	      							<dd>제 2017-서울서초-1022</dd>
	      						</dl>
	      						<dl>
	      							<dt>건강기능식품판매업신고</dt>
	      							<dd> 제 2015-0091591호</dd>
	 							</dl>
	 							<dl>
	      							<dt>유통전문판매업 신고</dt>
	      							<dd> 0094066호</dd>
	   							</dl>
	   							<dl>
	      							<dt>제휴/마케팅 문의</dt>
	      							<dd><a href="#">mkt@intakefoods.kr</a></dd>
	      						</dl>
	      						<dl>
	      							<dt>입점/판매 문의</dt>
	      							<dd><a href="#">sales@intakefoods.kr</a></dd>
	      						</dl>
      						</div>
      					</div>
      				</div>
      				<div class="inpay"></div>
      			</div>
      		</section>
      	</div>
    </footer>
</body>
</html>